<style>
.welcome {
  position: relative !important;
  width: 100%;
  top: 0;
  bottom: 0;
  background: transparent !important;
}
#content{
    background:#fff !important;
}
.bx-controls-direction a{
    color :  rgba(76, 175, 80, 0.0) !important; 
} 
</style>
<script type="text/javascript" src="custom/login_slider/js/jquery.bxslider.js"></script> 
<script>
        var result = [];
                $.ajax({
                    url: "loginSliderentryPoint.php", // BigFix :: Compatible to Sugar 8.*
                    type: "GET",
                    data: {method: 'getImagesFromUpload'},
                    success: function (data)
                    {
                        if (data != 'no-access' && $('.bxslider').find('li').length < 1) {
                             result = $.parseJSON(data);
                            
                             $.each(result, function (key, val) {
                                 if(key!='quote'){
                                   $('.bxslider').append("<li><img src='"+val+"'/></li>");
                                 }
                                 else{
                                  if(key=='quote' && (val=='no-access' || val == '')){
                                       $('.quote-block').hide();
                                  }else{
                                   var quote = result['quote'];
                                   $('.quote').html(quote);
                                   $('.quote-block').show();
                                 }
                                }
                            });
                           showSlider();
                        }
                       if(data == 'no-access' || data == '[]'){
                         $('.quote-block').hide();
                         $('.login-form').css({
                            top:'30px',
                         });
                       }
                    },
                    error: function (data)
                    {
                    }
               });

    
  function showSlider(){

        $('.bxslider').bxSlider({
            pager: false,
            startSlide: 0,
            controls: true,
            auto: true,
            touchEnabled: true,
            mode: 'fade'
        });
        $(".bxslider li img").each(function (i, elem) {
            var img = $(elem);
            var div = $("<div />").css({
                background: "url(" + img.attr("src") + ") no-repeat",
                height: ($(window).height()),
                width: $(window).width(),
                'background-size': 'cover',
            });
            div.addClass("replacedImage");
            img.replaceWith(div);
        });
        $(".login-slider").css({
            'top': '0px'
        }).show();

        $('.login-slider, .login-slider .bx-wrapper, .login-slider .bx-viewport').css('height', $(window).height() + $('#footer').height());

        $('.bx-controls-direction').css({
            top: '800px',
            position: 'absolute',
            left: ($(window).width() - $('.bx-controls-direction').outerWidth()) / 2}
        ); 
  }

</script>
<link href="custom/login_slider/css/quote.css" rel="stylesheet"/>
<link href="custom/login_slider/css/jquery.bxslider.css" rel="stylesheet"/>


<div class="welcome">
 
   <div class="login-slider" style="display: none">
        <ul class="bxslider">
               
        </ul>
    </div>

 <h1 class='quote-block' style="display: none">
      <span class='quote-img-left'>
         <img src='custom/login_slider/images/ico-quote.png'>
      </span>
        <span class='quote'></span>
      <span class='quote-img-right'>
        <img src='custom/login_slider/images/ico-quote-right.png'>
      </span>
 </h1>
    
    <div class="login-form">
        <div class="tcenter">
            <h2 class="brand"><img src="{{logoUrl}}" alt="HAZTRAC"></h2>
        </div>
        <form name='{{name}}' class="tcenter">
            {{#each meta.panels}}
                    {{#each fields}}
                    <div class="control-group">
                      {{field ../../this model=../../model}}
                    </div>
                    {{/each}}
                    <div class="login-footer-main">
                     <div class="help-block" >
                        {{#if ../showPasswordReset}}
                            <a href="#forgotpassword" class="btn btn-link btn-invisible">{{str "LBL_LOGIN_FORGOT_PASSWORD"}}</a>
                        {{/if}}
                     </div>
            {{/each}}

            <div class="login-footer" style="float:right">
               
                {{#each meta.buttons}}
                {{field ../this model=../model}}
                {{/each}}
               
            </div>
                   </div>
        </form>
    </div>
</div>



