<div class="control-group {{name}} clearfix" style="margin-bottom: 5px;">
    <div class="record-label">
        {{#each def.columns}}
            <div class="span{{span}} record-cell">
                <lable>{{str label ../module}}</lable>
            </div>
        {{/each}}
    </div>
</div>

{{#each attachmentCollection.models}}
    <div name="{{../subpanelModule}}_{{attributes.id}}" module="{{../subpanelModule}}" data-id="{{attributes.id}}" class="control-group clearfix">
        <div class="row-fluid">
            {{#each ../columnsMeta}}
                {{#if readonly}}
                    <div class="span{{span}} record-cell" data-name="{{name}}">
                        {{field ../../../view model=../../this template="detail"}}
                    </div>
                {{else}}
                    {{#eq name "uploadfile"}}
                        <div class="span{{span}} record-cell cbi-rowcell"  data-name="{{name}}" style="display: inline-flex;">
                            <a name="advance-relate-preview" id="{{../../../this.attributes.id}}" file_ext="{{../../../this.attributes.file_ext}}" class="rowaction loadInDashlet" style="padding-right: 5px;" tabindex="-1">
                                <i rel="tooltip" title="" class="fa fa-eye" data-original-title="Preview Record"></i>
                            </a>
                            {{field ../../../../view model=../../../this template=../../../template}}
                        </div>
                    {{else}}
                        <div class="span{{span}} record-cell cbi-rowcell" data-name="{{name}}" style="">
                            {{field ../../../../view model=../../../this template=../../../template}}
                        </div>
                    {{/eq}}
                {{/if}} 
            {{/each}}
            {{#eq attributes.file_ext "pdf"}}
                <div class="btn-toolbar span1 multi-btn prevent-mousedown">
                    <div class="btn-group" style="margin-top:0px;">
                       <a href="javascript:void(0)" data-uid="{{uid}}" tabindex="-1" class="btn signFile" rel="tooltip" title="{{str "Sign Doc"}}"><i class="fa fa-edit"></i></a>
                    </div>
                </div>
            {{/eq}}
        </div>
    </div>
{{/each}}

<div id="{{createWrapper}}"></div>