{{#notEq this.view.action 'list'}}
    <div class="control-group {{name}} clearfix" style="margin-bottom: 5px;">
        <div class="record-label">
            {{#each def.columns}}
                <div class="span{{span}} record-cell {{css_class}}">
                    <lable>{{str label ../module}}</lable>
                </div>
            {{/each}}
        </div>
    </div>
{{/notEq}}

{{#each attachmentCollection.models}}
    <div name="{{../subpanelModule}}_{{attributes.id}}" module="{{../subpanelModule}}" data-id="{{attributes.id}}" class="control-group clearfix">
        <div class="row-fluid">
            {{#each ../columnsMeta}}
                {{#if readonly}}
                    <div class="span{{span}} record-cell cbi-rowcell" data-name="{{name}}">
                        {{field ../../../view model=../../this template="detail"}}
                    </div>
                {{else}}
                    {{#eq name "uploadfile"}}
                        <div class="span{{span}} record-cell cbi-rowcell"  data-name="{{name}}" style="">
                            {{field ../../../../view model=../../../this template=../../../template}}
                        </div>
                    {{else}}
                        <div class="span{{span}} record-cell cbi-rowcell"  data-name="{{name}}" style="">
                            {{field ../../../../view model=../../../this template="edit"}}
                        </div>
                    {{/eq}}
                {{/if}} 
            {{/each}}
            {{#notEq ../view.action 'list'}}
                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group"></div>
                    <div class="btn-group">
                       <a href="javascript:void(0)" class="btn deleteFile" rel="tooltip" title="{{str "Delete File"}}"><i class="icon-plus fa fa-minus"></i></a>
                    </div>
                    <div class="btn-group">
                       <a href="javascript:void(0)" class="btn addFile" rel="tooltip" title="{{str "Add File"}}"><i class="icon-plus fa fa-plus"></i></a>
                    </div>
                </div>
            {{/notEq}}
        </div>
    </div>
{{/each}}

<div id="{{createWrapper}}"></div>