{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<tr class="control-group {{name}}_row clearfix {{name}}-{{fieldAction}} sortable ui-sortable-handle" line_number="" data-uid={{uid}}>
    <td class="row-fluid" data-uid={{uid}}>
        <div>
            <div class="control-group {{name}}_row clearfix {{name}}-{{fieldAction}}" data-uid={{uid}} {{#if isPreview}}style="margin-bottom: 0px;"{{/if}}>
                <div class="row-fluid" data-uid={{uid}}>
                    {{#each modelFields}}
                        <div class="span{{span}} {{css_class}} record-cell" {{#if ../isPreview}}style="min-height: 20px;"{{/if}}>
                            {{field ../view model=../model template=../fieldAction}}
                        </div>
                    {{/each}}
                    {{#eq fieldAction "edit"}}
                        <div class="btn-toolbar span1 multi-btn prevent-mousedown">
                            <div class="btn-group {{#if isNew}}{{else}}prevent-mousedown{{/if}}" style="margin-top:0px;">
                               <a href="javascript:void(0)" data-uid="{{uid}}" tabindex="-1" class="btn {{#if isNew}}addRecord{{else}}removeRecord{{/if}} {{#if isNew}}disabled{{/if}}" rel="tooltip" title=""><i class="fa fa-{{#if isNew}}plus{{else}}minus{{/if}}"></i></a>
                            </div>
                        </div>
                    {{/eq}}
                </div>
            </div>
        </div>
    </td>
</tr>

