{{#each value}}
<div>
    <span class="span6">
        {{#eq @index 0}}
            <div class="record-label" style="margin-left: 0px;">
                {{str 'LBL_TRANSPORTER' 'HT_Manifest'}}
            </div>
        {{/eq}}
        <span style="display: flex;">
            {{#if iconVisibility}}
                <a name="advance-relate-preview" class="rowaction" data-href="{{../href}}" style="padding-right: 5px;">
                    <i rel="tooltip" title="Preview Record" class="fa fa-eye">
                    </i>
                </a>
            {{/if}}
            {{#if href}}<a class="ellipsis_inline" data-placement="bottom" title="{{../name}}" href="{{../href}}">{{../name}}</a>{{else}}{{../name}}{{/if}}
        </span>
    </span>
    <span class="span6">
        {{#eq @index 0}}
            <div class="record-label">
                {{str 'LBL_TRANSFER_DATE' 'HT_Manifest'}}
            </div>
        {{/eq}}
        <span class="normal index">
            <span class="detail">
                {{#if transfer_date}}{{formatDate transfer_date ../../dateOptions}}{{/if}}
            </span>
        </span>
    </span>
</div>
{{/each}}
