{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="control-group transporter clearfix" style="margin-bottom: 0px;">
    <div class="record-label">
            <div class="span1 record-cell ">
                <lable>{{str 'LBL_NUM' module}}</lable>
            </div>

        {{#each def.fields}}
            {{#if default}}
                <div class="span{{span}} record-cell pull-left">
                    <lable>{{str label ../../module}}</lable>
                </div>
            {{/if}}
        {{/each}}


        <div class="span1 record-cell">
            <button type="button" class="btn third pull-right" name="dragdrop" data-index="{{@index}}" rel="tooltip" title="{{str 'LBL_HOLD_TO_DRAG' 'HT_Manifest'}}" style="background: whitesmoke;"><i class="fa fa-sort-numeric-asc"></i></button>
        </div>
            
        <div class="btn-toolbar prevent-mousedown"></div>
    </div>
</div>

<table style="width: 100%;">
    <tbody class="transporter-to-insert" style="border: 1px inset; background: whitesmoke;">
    </tbody>
</table>

