{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div>
    <div class="headerpane">
        <h1>
            <span class="record-cell">{{str 'LBL_HINT_CONFIG_FIELD_SELECTOR'}}</span>
        </h1>
    </div>

    <div style="margin-top:60px;">
        <div class="row-fluid2" id="hint-drawer-field-container" style="margin-left:10px !important;">
            {{#each availableFields}}
                <div class="span5 record-cell edit" style="margin-left:5px !important;">
                    <label class="form-check-label" for="defaultCheck1">
                        <input class="form-check-input fieldSelector field-container-{{this.name}}" type="checkbox" value="" data-field="{{this.name}}" id="{{this.name}}" {{#if this.disabled}}disabled{{/if}} >
                        {{this.label}}
                    </label>
                </div>
            {{/each}}
        </div>
    </div>
</div>
