{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#notEq def.showButton false}}
    {{#eq def.dbType undefined}}
        <span class="small pull-right" style="margin-top: -25px;">
            <a href="javascript:void(0);" class="rowaction btn btn-warning" rel="tooltip" data-event="button:open_magnify_popup_button:click" role="button" tabindex="0" name="open_magnify_popup_button" track="click:open_magnify_popup_button" data-original-title="Magnify" style="background: darkgray;">
                <i class="fa fa-search"></i>
            </a>
        </span>
    {{/eq}}
{{/notEq}}

<textarea rows="{{def.rows}}" cols="{{def.cols}}" name="{{name}}"
          {{#if def.placeholder}} placeholder="{{str def.placeholder module}}"{{/if}}
          {{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}} style="width:{{def.width}};">{{value}}</textarea>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
