{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<span style="display: flex;">
    {{#if iconVisibility}}
        <a name="advance-relate-preview" class="rowaction" style="padding-right: 5px;">
            <i rel="tooltip" title="Preview Record" class="fa fa-eye">
            </i>
        </a>
        {{#if linked}}
            <a name="advance-relate-link" class="rowaction" style="padding-right: 5px;">
                <i rel="tooltip" title="Linked To Account Panel" class="fa fa-link">
                </i>
            </a>
        {{else}}
            <a name="advance-relate-unlink" class="rowaction" style="padding-right: 5px;">
                <i rel="tooltip" title="Unlinked from Account Panel" class="fa fa-unlink">
                </i>
            </a>
        {{/if}}
    {{/if}}
    {{#if href}}<a class="ellipsis_inline" data-placement="bottom" title="{{value}}" href="{{href}}">{{value}}</a>{{else}}{{value}}{{/if}}
</span>